<nav>
    <div class="site-title">
        <a href="/"><h1>Blog of Q</h1></a>
        <p>Quaide's JS Web App</p>
    </div>
    <ul>
        <% if (user) { %>
            <li><a>Welcome, <%= user.firstName  %></a></li>
            <li><a href="/blogs/create">New Blog</a></li>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/account">Acct Management</a></li>
            <li><a href="/logout">Log Out</a></li>
        <% } else { %>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Log In</a></li>
            <li><a href="/signup">Sign Up</a></li>
        <% } %>
    </ul>
</nav>