<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    
    <%- include('./partials/nav.ejs')  %>
    
    <div class="about content">
        <h2>About Us</h2>
        <p class="about-paragraphs">Quaide Tranter, born in '94 in Durban, South Africa.</p>
        <p class="about-paragraphs">Bachelor of Science in Software Engineering from Florida Gulf Coast University.</p>
        <p class="about-paragraphs">20 months of professional software experience.</p>

    </div>
    
    <%- include('./partials/footer.ejs')  %>
</body>
</html>